.brand__link {
    font-size: 28px;
    margin-right: 20px;
    font-weight: 600;
}
.navbar__page {
    z-index: 1;
    padding: 15px 0 15px;
    height: 80px;
    width: 100%;
}

.navbar-collapse {
    font-size: 20px;

}

.navbar-me{
    margin-right: 1.5rem;
}

.nav-link {
    display: inline;
}

.left {
    width: 65%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.right {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}
.button-header{
    margin: 0 5px 0;
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
        font-size: 15px;
        margin-top: 5px;
    }

    .navbar-me{
        display: none;
    }

    .header {
        display: none;
     }

    .left {
        width: 65%;
        display: flex;
    }
    
    .right {
        width: 35%;
        position:fixed;
        top: 17px;
        right: 12px;        
    }

    .brand__link {
        font-size: 20px;
        font-weight: 600;
        display: flex;
    }

    .nav-link {
        display: block;
    }

    .title{
        margin-right: 80px;
    }
 }

 @media (max-width: 768px){
    .title{
        margin-right: 40px;
    }

    .button-header{
        font-size: 13.5px;
    }
 }

 @media (max-width: 576px){
    .title{
        margin-right: 20px;
    }
    .button-header{
        font-size: 10px;
    }
    .left {
        width: 65%;
    }
    .right {
        width: auto;
    }
 }

 @media (max-width: 440px){
    .title{
        margin-right: 0px;
    }
    .left {
        width: 60%;
    }
 }

 

